*{
    margin: 0px;
    padding: 0px;
}
.col-1,.col-2{
    background-color: rgb(63, 63, 237);
    margin-bottom: 8px;
}
.left{
    float: left;
}

.right{
    float: right;
}

a{
    text-decoration: none;
}

*{
    margin: 0px;
    padding: 0px;
}

.row{
    content: "";
    display: block;
    clear: both;
   
}

.left{
    float: left;
}
.right{
    float: right;
}
.container{
    width: 100%;
}
.col-1{
    width: 50%;
   height: 72.5px;
}
.col-2{
    width: 50%;
    padding-top: 8px;
    font-size: large;
}
.logo{
    width: 40%;

}
.logo img{
  padding-top: 20px;
    width: 150px;
    padding-left: 50px;
    
}
.search{
    width: 60%;
    padding-top: 20px;
    padding-bottom: 18.5px;
    display: flex;
    flex-flow: row;

}


i{
    color: black;
}
.search input[type="text"]{
    height: 30px;
    width: 300px;
}
.search button{
    height: 30px;
    width: 30px;
}
.a {
    background-color: white; 
    border: none;
    color: white;
    padding: 1px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.col-2 .options{
    display: inline-block;
    margin: 10px;
    padding: 10px;
    font-weight: 900;
    font-size: larger;
}
.col-2 .options a{
    text-decoration: none;
    letter-spacing: 0.5px;
    color: black;
    
}
#rowtwo{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 8px;
    
}
.category{
    width: 11.11111%;
    text-align: center;
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    background-color: rgb(221, 217, 217);
    padding-bottom: 3px;
    
}
.category a{
    color: black;
}
.category img{
    height: 64px;
    width: 64px;
    padding: 16px;
}
#banner{
    background-color: white;
    margin-left: 15px;
    margin-right: 15px;
}
.banner-img a img{
    width: 100%;
    margin-top: 15px;
}